/*style sheet for keiwes.com*/

@charset "UTF-8";
 body {
    margin: 0;
    padding: 0;
}
p {
    font-size: 16px;
    font-family: Open Sans, Helvetica, sans-serif;
    font-weight: 400;
    color: #555;
}
h1 {
    font-size: 100px;
    font-family: Oswald, Helvetica, sans-serif;
    font-weight: 300;
    color: #FFF;
    text-shadow: 0.02em 0.02em #000;
    margin: 30px 0 0 0;
}
h2 {
    font-size: 42px;
    font-family: Open Sans, Helvetica, sans-serif;
    font-weight: 300;
    color: #FFF;
    text-shadow: 0.02em 0.02em #000;
    margin-top: 0;
}
h3 {
    font-size: 60px;
    font-family: Open Sans Condensed, Helvetica, sans-serif;
    font-weight: 300;
    color: #333;
    margin: 0;
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
}
h4 {
    font-size: 28px;
    font-family: Oswald, Helvetica, sans-serif;
    font-weight: 300;
    color: #333;
    border-bottom-width: 5px;
    border-bottom-color: #00A5C2;
    border-bottom-style: solid;
}
h5 {
    font-size: 24px;
    font-family: Open Sans Condensed, Helvetica, sans-serif;
    font-weight: 300;
    color: #333;
    text-align: center;
    margin: 0;
    padding-bottom: 50px;
}
span {
    color: white;
}
a {
    text-decoration: none;
    color: #00A5C2;
}
.center-text {
    text-align: center;
}
.large-container {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}
.medium-container {
    width: 768px;
    margin: 0 auto;
    padding: 0;
}
/*----------Animation----------*/

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
.fadeInDown {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
.fadeInUp {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
/*----------Header----------*/

header {
    margin: 0;
    padding: 0;
    height: 70px;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: rgb(30, 30, 30);
    /*fallback*/
    background-color: rgba(30, 30, 30, 0.90);
    border-bottom: 2px;
    border-bottom-color: #222;
    border-bottom-style: solid;
    z-index: 1;
}
#kw-logo {
    width: 100px;
    height: 100px;
    float: left;
    border: 0;
}
#nav {
    font-size: 24px;
    font-family: Open Sans Condensed, Helvetica, sans-serif;
    font-weight: 300;
    float: right;
    margin-top: 18px;
    text-decoration: none;
    color: #FFF;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}
#nav li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}
#nav a {
    color: inherit;
    text-decoration: none;
}
#nav a:visited {
    text-decoration: none;
}
#nav a:hover {
    color: #00A5C2;
}
#nav .current a {
    color: #00A5C2;
}
/*----------Main Content----------*/

#tagline {
    text-align: center;
    height: 700px;
    background-image: url('../images/sketchBackground.jpg');
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#profileImage {
    width: 200px;
    height: auto;
    padding-top: 170px;
}
#about {
    width: auto;
    background: #00A5C2;
    padding: 50px 0 50px 0;
}
#about p {
    color: #FFF;
    font-size: 20px;
    line-height: 150%;
}
#work {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARElEQVQYV2NkAILFixdLxsbGPgex0QFMjpEYRSDNjNhMwWYLVoXYbMFQiMspKArxuReuEJ8iuGcIKQIrJEYR3uBBDzYAu0YsCwNLuRwAAAAASUVORK5CYII=) repeat;
    height: auto;
    padding-bottom: 100px;
}
#work p {
    line-height: 180%;
}
.work-item {
    height: auto;
    margin-bottom: 100px;
}
#axure-video {
    display: block;
    width: 768px;
    height: 432px;
    margin: 20px 0 20px 0;
}
#my-work-image {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #BBB;
    margin: 20px 0 20px 0;
}
#singing-colors {
    max-width: 60%;
    max-height: 60%;
    display: block;
    margin: 50px auto 50px auto;
}
#ux-class-image {
    max-width: 100%;
    max-height: 100%;
    margin: 20px 0 20px 0;
    border: 1px solid #BBB;
}
#contact {
    padding: 1px 0 60px 0;
    background: #00A5C2;
    text-align: center;
}
.contactIcon {
    height: 200px;
    width: 200px;
    padding: 0 10px 0 10px;
    border: 0;
}
/*--------------------Blog--------------------*/

/*----------Footer----------*/

footer {
    padding: 20px 0 20px 0;
    background: #141414;
}
#copyright {
    text-align: center;
}
#copyright p {
    font-size: 16px;
    color: #888;
}
/*---------------------------------------- 768 to 960 ----------------------------------------*/

@media (max-width: 960px) {
    .large-container,
    .medium-container {
        width: auto;
        margin: 0 auto;
    }
    #nav {
        padding-right: 20px;
    }
    #nav li {
        padding: 0 15px 0 15px;
    }
    h4 {
        padding-left: 15px;
    }
    #about p {
        margin-right: 50px;
        margin-left: 50px;
    }
    #work p {
        line-height: 180%;
        padding-left: 30px;
        padding-right: 30px;
    }
    #axure-video {
        margin: 20px auto 20px auto;
    }
    .contactIcon {
        height: 180px;
        width: 180px;
        padding-left: 2px;
        padding-right: 2px;
    }
}
/*---------------------------------------- 416 to 768 ----------------------------------------*/

@media (max-width: 768px) {
    .large-container {
        width: auto;
        margin: 0 auto;
    }
    .medium-container {
        width: inherit;
        margin: inherit;
    }
    header {
        height: 50px;
    }
    #kw-logo {
        width: 52px;
        height: 52px;
    }
    #nav {
        padding: 0;
        font-size: 20px;
        float: right;
        margin-top: 12px;
        margin-right: 14px;
    }
    #tagline {
        height: 480px;
    }
    #profileImage {
        width: 200px;
        height: auto;
        padding-top: 95px;
    }
    h1 {
        margin: 0;
        padding-top: 20px;
        font-size: 60px;
    }
    h2 {
        font-size: 30px;
    }
    #about p {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 14px;
    }
    #work p {
        font-size: 14px;
    }
    #axure-video {
        display: block;
        width: 410px;
        height: 232px;
        margin: 20px auto 20px auto;
    }
    #my-work-image {
        display: block;
        max-width: 98%;
        max-height: 98%;
        border: 1px solid #BBB;
        margin: 20px auto 20px auto;
    }
    #singing-colors {
        display: block;
        max-width: 60%;
        max-height: 60%;
        display: block;
        margin: 50px auto 50px auto;
    }
    #ux-class-image {
        display: block;
        max-width: 98%;
        max-height: 98%;
        margin: 20px auto 20px auto;
        border: 1px solid #BBB;
    }
    #contact {
        height: auto;
        padding-bottom: 80px;
    }
    .contactIcon {
        width: 100px;
        height: 100px;
        padding: 15px;
    }
}
/*---------------------------------------- Less Than 415 ----------------------------------------*/

@media (max-width: 415px) {
    h2 {
        font-size: 24px;
    }
    #axure-video {
        width: 310px;
    }
    #contact {
        padding-bottom: 60px;
    }
    .contactIcon {
        width: 80px;
        height: 80px;
        padding: 5px;
    }
}