/*Primary Style Sheet for Keiwes.com*/
@charset "UTF-8";

#main { background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARElEQVQYV2NkAILFixdLxsbGPgex0QFMjpEYRSDNjNhMwWYLVoXYbMFQiMspKArxuReuEJ8iuGcIKQIrJEYR3uBBDzYAu0YsCwNLuRwAAAAASUVORK5CYII=) repeat;
}

body {
	margin: 0;
    padding: 0;
}

p {
	font-size: 16px;
	font-family: Open Sans, Helvetica, sans-serif;
	font-weight: 400;
	color: #555;
}

/*Keith Weston*/
h1 {
	font-size: 100px;
	font-family: Oswald, Helvetica, sans-serif;
	font-weight: 300;
	text-shadow: 0.02em 0.02em #DDD;
	color: #00a5c2;
	margin-top: 0;
}

/*User Experience Designer*/
h2 {
	font-size: 42px;
	font-family: Open Sans, Helvetica, sans-serif;
	font-weight: 300;
	color: #555;
	margin-top: 0;
}

/*Section Headers*/
h3 {
	font-size: 60px;
	font-family: Open Sans Condensed, Helvetica, sans-serif;
	font-weight: 300;
	color: #333;
	padding-top: 20px;
	padding-bottom: 0;
	text-align: center;
}

/*Work Subheaders*/
h4 {
	font-size: 28px;
	font-family: Open Sans Condensed, Helvetica, sans-serif;
	font-weight: 300;
	color: #333;
	padding: 0;
	text-align: center;
}

span {
	color: white;
}

a { color: inherit; } 

.container {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

/*----------Header----------*/
header {
	margin: 0;
	padding: 0;
	height: 70px;
	width: 100%;
	position: fixed;
	top: 0;
	background-color:rgba(231,231,231,0.98);
}

#kw-logo {
	width: 100px;
	height: 100px;
	float: left;
	border: 0;
}

#nav {
	font-size: 24px;
	font-family: Open Sans Condensed, Helvetica, sans-serif;
	font-weight: 300;
	float: right;
	display: inline;
	margin-top: 18px;
	text-decoration: none;
	color: 222;
}

#nav li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	color: 222;
}

#nav a:link {
	display: inline;
	text-decoration: none;
	margin: 0;
	padding: 10px;
	color: 222;
}

#nav a:visited {
	text-decoration: none;
	color: #222;
}

#nav a:hover {
	color: white;
	background: #00A5C2;
}

/*----------Main Content----------*/
#tagline {
	text-align: center;
	padding-top: 170px;
	height: 280px;
}

#taglinetext1 {
	display: none;
}

#taglinetext2 {
	display: none;
}

#me {
	margin-top: 130px;
	width: auto;
	height: auto;
	background: #004;
	padding-top: 1px;
	padding-bottom: 80px;
}

#me p {
	color: white;
	font-size: 18px; 
	margin-right: 100px;
	line-height: 150%;
}

#profileImage {
	float: left;
	width: 181px;
	height: 257px;
	margin-left: 100px;
	margin-right: 40px;
}

#work {
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 50px;
	height: auto;
}

#work p {
	line-height: 180%;
}

#axure {
	height: 320px;
	margin-bottom: 100px;
}

#axure-video {
	width: 560px;
	height: 315px;
	float: right;
	margin-left: 25px;
	margin-bottom: 0;
}

#playlister {
	height: 374px;
	margin-bottom: 100px;
}

#playlister-image {
	width: 586px;
	height: 374px;
	float: left;	
	margin-right: 25px;
	border: 1px solid #BBB;
}

#my-work {
	height: 410px;
	margin-bottom: 100px;
}

#my-work-image {
	width: 594px;
	height: 375px;
	float: right;
	margin-top: 20px;
	margin-left: 25px;
	border: 1px solid #BBB;
}

#ux-class {
	height: 360px;
	margin-bottom: 70px;
}

#ux-class-image {
	width: 574px;
	height: 220px;
	margin-top: 40px;
	margin-right: 25px;
	margin-bottom: 80px;
	float: left;
   	border:1px solid #BBB;
}

#other p {
	text-align: center;
}

#contact {
	margin-top: 0;
	padding-top: 0;
	padding-top: 1px;
	padding-bottom: 60px;
	width: auto;
	height: auto;
	background: #004;
	text-align: center;
}

.contactIcon {
	height: 200px;
	width: 200px;
	padding-left: 10px;
	padding-right: 10px;
	border: 0;
}

/*--------------------Blog--------------------*/
.blogpost {
	margin: 170px 0 100px;
}

.alarm {
	height: 640px;
	width: 360px;
	margin: 50px 50px 50px;
}

.weather {
	width: 459px;
	height: 290px;
	margin: 50px 5px 50px;
}

/*----------Footer----------*/
footer {
	margin: 0;
	bottom: 0;
	height: auto;
	background: #141414;
}

#copyright {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

#copyright p {
	font-size: 16px;
	color: #888;
}

/*---------------------------------------- 691 to 960 ----------------------------------------*/
@media (max-width: 960px) 
{
	.container {
	width: auto;
	margin: 0 auto;
	}
	
	/*----------Header----------*/
	#nav {
		padding-left: 20px;
	}
	
	#nav li {
		padding-left: 2px;
		padding-right: 2px;
	}
	
	/*----------Main Content----------*/
	#profileImage {
		margin-left: 50px;
		margin-bottom: 160px;
	}
	
	#me p {
		margin-right: 50px;
	}
		
	#work p {
		line-height: 180%;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	#axure {
		height: 600px;
		margin-bottom: 50px;
	}
	
	#axure-video {
		float: none;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	
	#playlister {
		height: 650px;
		margin-bottom: 100px;
	}
	
	#playlister-image {
		float: none;	
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	
	#my-work {
		height: 700px;
	}
	
	#my-work-image {
		float: none;
		display: block;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
	}
	
	#ux-class {
		height: 550px;
		margin-bottom: 0;
	}
	
	#ux-class-image {
		margin-top: 0;
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 0;
		float: none;
	}
	
	.contactIcon {
		height: 180px;
		width: 180px;
		padding-left: 2px;
		padding-right: 2px;
	}
	
	/*----------Footer----------*/
	#copyright p {
		padding-right: 30px;
	}
		
}

/*---------------------------------------- 416 to 690 ----------------------------------------*/
@media (max-width: 690px) 
{
	.container {
		width: auto;
		margin: 0 auto;
	}
	
	header {
		height: 50px;
	}
	
	#kw-logo {
		width: 75px;
		height: 75px;
	}
	
	#nav {
		font-size: 20px;
		float: right;
		margin-top: 12px;
		margin-right: 14px;
	}
	
	#tagline {
		height: 160px;
	}
	
	/*Main Tagline*/
	h1 {
		font-size: 60px;
	}
	
	/*Secondary Tagline*/
	h2 {
		font-size: 30px;
	}
	
	#profileImage {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
	}
	
	#me p {
		padding-right: 20px;
		padding-left: 40px;
		font-size: 14px;
	}
	
	#work p {
		font-size: 14px;
	}
	
	
	#axure {
		margin-bottom: 0;
		height: 550px;
	}
	
	#axure-video {
		width: 373px;
		height: 210px;
	}
	
	#playlister {
		height: 570px;
	}
	
	#playlister-image {
		display: block;
		float: none;
		max-width: 100%;
		margin: 0;
		border: 0;
		height: auto;
	}
	
	#my-work {
		height: 610px;
	}
	
	#my-work-image {
		display: block;
		float: none;
		max-width: 100%;
		border: 0;
		border-bottom: 1px solid #BBB;
		border-top: 1px solid #BBB;
		height: auto;
	}
	
	#ux-class {
		height: 500px;
		margin-bottom: 0;
	}
	
	#ux-class-image {
		display: block;
		float: none;
		max-width: 100%;
		margin: 0;
		border: 0;
		border-bottom: 1px solid #BBB;
		border-top: 1px solid #BBB;
		height: auto;
	}
	
	#contact {
		height: auto;
		padding-bottom: 80px;
	}
	
	.contactIcon {
		width: 100px;
		height: 100px;
		padding: 15px;
	}
	
	#copyright p {
		padding-right: 0;
		text-align: center;
	}
}

/*---------------------------------------- Less Than 415 ----------------------------------------*/
@media (max-width: 415px) {
	
	#nav {
		font-size: 20px;
		float: right;
		margin-right: 0;
		padding-left: 0;
	}
	
	#tagline {
		height: 160px;
	}
	
	/*Main Tagline*/
	h1 {
		font-size: 60px;
	}
	
	/*Secondary Tagline*/
	h2 {
		font-size: 24px;
	}
	
	#me p {
		padding-left: 20px;
		padding-right: 10px;
	}
	
	#work p {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	#axure-video {
		width: 310px;
	}
	
	#ux-class {
		height: 500px;
	}
	
	#contact {
		padding-bottom: 40px;
	}
	
	.contactIcon {
		width: 80px;
		height: 80px;
		padding: 5px;
	}
}


